@import "/UI/Theme.scss";

HotbarPresetsButton
{
    position: relative;
    right: 0px;
    bottom: 0px;
    opacity: 0;
}

HotbarPresetsButton .presets-toggle
{
    width: 26px;
    height: 76px;
    background-color: $hud-panel-bg;
    border: 1px solid $hud-panel-border;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba( white, 0.5 );
    font-size: 18px;
    pointer-events: all;
    transition: background-color 0.1s, color 0.1s;

    &:hover
    {
        background-color: rgba( $hud-outline, 0.15 );
        color: white;
    }
}
